@font-face {
	font-family: Molengo;
	src: url(../fonts/Molengo-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-bold;
	src: url(../fonts/Roboto-Bold.ttf);
}

body, html {
	font-family: Roboto;
	background-color: #fcfcfc;
}

.header {
	padding: 10px;
	border-bottom: 1px solid #e1e1e1;
}

.bold {
	font-family: Roboto-Bold;
}

.pointer {
	cursor: pointer;
}

.pointer:HOVER {
	text-decoration: underline;
}

.box-1, .box {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	background-color: #fff;
}

.box-1:HOVER {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
}

.loading-box {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 200px;
	height: 30px;
	margin: auto;
	top: 0;
	text-align: center;
	visibility: hidden;
}

button {
	border-radius: 2px;
}

.no-box {
	box-shadow: none !important;
}

.header-text {
	font-size: x-large;
}

.v-mid {
	vertical-align: middle;
	display: table-cell;
}

.profile-pic {
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

.circle {
	border-radius: 50%;
}

.profile-pic:HOVER {
	background-color: #bdffbd;
}

.no-padd {
	padding: 0px !important;
}

.app-name-label {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.app-heading {
	text-transform: uppercase;
	font-size: large;
}

.no-border {
	border-color: white;
}

.caps {
	text-transform: uppercase;
}

.padding-sm {
	padding: 5px;
}

.margin-20 {
	margin: 20px;
}
.attempt-list{
	height: 500px;
	overflow: scroll;
}